@charset 'utf-8';


.news-banner a figure:hover{
	text-decoration:none;
}


.toolbar .list  li:hover a{
	color:#4A4A4A;
}
.list-product > li:hover > a{
	color:#000;
}
.list-product > li:hover:after{
	opacity:1;
	bottom:0;
}
.video-os ul li:hover{
	background-color:#25305B;
}
.video-os ul li:hover a{
	color:#fff;
}
.video-os ul li:hover p.web-ios{
	opacity:1;
}
.list-product li:hover .list-down{
	transform:rotateX(0deg);
	opacity:1;
}

.list-bottom .download-left:hover{
	border-right-color:#ccc;
}
.list-bottom .download-left dl dd:hover svg{
	opacity:1;
}
.list-bottom .download-left dl dd:hover span{
	background-color:#26d5ad;
	color:#fff;
}
.list-bottom .download-right:hover{
	border:0;
}

.right-login ul li a:hover{
	color:#000;
}
.right-login ul .register a:hover{
	background-color:#000;
	color:#fff;
}


.btn a:hover{
	box-shadow:0 9px 30px -3px #848484;
}
.video-part  .popup-videobanner .list li:hover{
	background-color:rgba(0,0,0,.5);
}
.video-part  .popup-videobanner .list li.hover-color:hover  a{
	color:#fff;
}


.banner-controler ul li:hover:after{
	height:3px;
	background-color:#333;
}

.video-part .input-area .input svg:hover{
	fill:red;
}

.linear-color ul li:nth-child(1):hover{
	background-image:-webkit-linear-gradient(45deg,#3E88D8,#2FBBFE);
	background-image:linear-gradient(45deg,#3E88D8,#2FBBFE);
	box-shadow:0 5px 15px 5px #ABD5EF;
}
.linear-color ul li:nth-child(2):hover{
	background-image:-webkit-linear-gradient(45deg,#24CEC9,#23E4E3);
	background-image:linear-gradient(45deg,#24CEC9,#23E4E3);
	box-shadow:0 5px 15px 5px #23E4E3;
}
.linear-color ul li:nth-child(3):hover{
	background-image:-webkit-linear-gradient(45deg,#6870C9,#7885E9);
	background-image:linear-gradient(45deg,#6870C9,#7885E9);
	box-shadow:0 5px 15px 5px #7885E9;
}
.linear-color ul li:nth-child(4):hover{
	background-image:-webkit-linear-gradient(315deg,#5857FF,#4EBBFF);
	background-image:linear-gradient(315deg,#5857FF,#4EBBFF);
	box-shadow:0 10px 15px 5px #4EBBFF;
}

.linear-color ul li:hover .content .svg-icon{
	transform:scale(1.2);
}
.linear-color ul li:hover .content .svg-icon svg{
	fill:#fff;
}
.linear-color ul li:hover .content p{
	color:rgba(255,255,255,.6);
	transform:scale(1.2);
}

.canvas .value-video .right-cont .cont-click a:hover i,.right-cont .cont-click a:focus i{
	width:36px;
}


.measure .cont-click ul li:hover i{
	width:50px;
}

.more-video .container .content .more-info a:hover{
	box-shadow:0 0 4px 1px rgba(103,118,182,.5);
}

.footer .container .product .product-list dl dd:hover a,
.footer .container .product .erweicode:hover a{
	color:#23527c;
}

.footer .footer-cont .container dl dd a:hover{
	opacity:.5;
}
.footer .footer-cont .container .bottom a:hover{
	opacity:1;
}
.sidebar .face-after .robort  .person a:nth-child(1):hover{
	opacity:1;
}
.sidebar .face-after .input-area .choose a:nth-of-type(1):hover i{
	background-position:-22px 0;
}
.sidebar .face-after .input-area .choose a:nth-of-type(2):hover i{
	background-position:-22px -22px;
}
.sidebar .face-after .input-area .choose a:nth-of-type(3):hover i{
	background-position:-22px -440px;
}