@charset 'utf-8';
.top-nav .right-nav > ul > li:hover > a{
	color:#cc4336;
}

.hid-list ul li:hover a{
	top:-20px;
}

.top-nav .right-nav > ul > li:hover .hid-list{
	height:180px;
}
.top-nav .right-nav > ul > li.area:hover:after{
	display:block;
}

.banner .center-banner .banner-area .controller:hover{
	transform:scale(1.2);
}

.banner .download .right i:hover:nth-child(1){
	background-position:-480px 80px;
}
.banner .download .right i:hover:nth-child(2){
	background-position:-907px -959px;
}

.banner-content ul li a:hover{
	color:#9c1a9a;
}
.banner-style > .right ul li.li1:hover{
    height:205px;
    left:25px;
}
.banner-style > .right ul li.li-right:hover{
    margin-right:160px;
}
.banner-style > .right ul li.li-left:hover{
    margin-left:25px;
}
.banner-character .container .all-character .first ul li:hover a{
    color:#cea441;
}

.all-character .first .bottom-banner .all-kind .list1 ul li .top:hover p{
    display:block;
}

.all-character .first .bottom-banner .all-kind .left-btn:hover{
    background-position:159px -964px;
}
.all-character .first .bottom-banner .all-kind .right-btn:hover{
    background-position:159px -898px;
}


.banner-character .container .all-character .second .containers .detail-persons .persons:hover{
	background-color:#fff;
	border-color:#000;
}
.banner-character .container .all-character .second .containers .detail-persons .persons:hover i{
	display:block;
}

.stratage .container .left .btn:hover{
	background-position:158px -505px;
}
.stratage .container .banner-content .content-list a:hover span{
	top:-20px;
}

.stratage .container .right .content-bottom .detail-content a:hover .abstract-content{
	color:#c1831c;
}

.special-area .controller  .contribution:hover{
	right:0;	
}
.special-area .banners ul li .img:hover .cover{
	opacity:1;
}
.activities .right ul li:hover img{
    transform:scale(1.2);
}

.erweicode .icon-top:hover{
	transform:translateY(-20px);
}
.footer .hover:hover  .experience{
	opacity:0;
}
.footer .hover:hover  .erweicodes{
	top:80px;
	opacity:1;
}
.footer .hover:hover  .onoff{
	margin-top:-20px;
}
.footer .hover:hover .door{
	margin-top:165px;
}




